In [1]:
import numpy as np
import pandas as pd
import math
import CasaBourseScrap  as cbs
from CasaBourseScrap.quick import scrape_casablanca_bourse_js_click
from CasaBourseScrap.Notation import name_from_ticker
from datetime import datetime, timedelta

In [2]:
stocks_brute = scrape_casablanca_bourse_js_click()

üåê Navigating to Casablanca Bourse website...
‚úÖ Page loaded successfully

üìÑ SCRAPING PAGE 1...
üìä Found 50 rows on page 1
  ‚úÖ ADH - DOUJA PROM ADDOHA
  ‚úÖ ADI - ALLIANCES
  ‚úÖ AFI - AFRIC INDUSTRIES SA
  ‚úÖ AFM - AFMA
  ‚úÖ AGM - AGMA
  ‚úÖ AKT - AKDITAL
  ‚úÖ ALM - ALUMINIUM DU MAROC
  ‚úÖ ARD - ARADEI CAPITAL
  ‚úÖ ATH - AUTO HALL
  ‚úÖ ATL - ATLANTASANAD
  ‚úÖ ATW - ATTIJARIWAFA BANK
  ‚úÖ BAL - BALIMA
  ‚úÖ BCI - BMCI
  ‚úÖ BCP - BCP
  ‚úÖ BOA - BANK OF AFRICA
  ‚úÖ CDM - CDM
  ‚úÖ CFG - CFG BANK
  ‚úÖ CIH - CIH
  ‚úÖ CMA - CIMENTS DU MAROC
  ‚úÖ CMG - CMGP GROUP
  ‚úÖ CMT - MINIERE TOUISSIT
  ‚úÖ COL - COLORADO
  ‚úÖ CRS - CARTIER SAADA
  ‚úÖ CSR - COSUMAR
  ‚úÖ CTM - CTM
  ‚úÖ DHO - DELTA HOLDING
  ‚úÖ DIS - DIAC SALAF
  ‚úÖ DLM - DELATTRE LEVIVIER MAROC
  ‚úÖ DRI - DARI COUSPATE
  ‚úÖ DWY - DISWAY
  ‚úÖ DYT - DISTY TECHNOLOGIES
  ‚úÖ EQD - EQDOM
  ‚úÖ FBR - FENIE BROSSETTE
  ‚úÖ GAZ - AFRIQUIA GAZ
  ‚úÖ HPS - HPS
  ‚úÖ IAM - ITISSALAT AL-MAGHRIB
  ‚úÖ IBC - IB MAROC.COM
  ‚úÖ IMO - IMMORENTE INVEST
  ‚úÖ INV - INVOLYS
  ‚úÖ JET - JET CONTRACTORS
  ‚úÖ LBV - LABEL VIE
  ‚úÖ LES - LESIEUR CRISTAL
  ‚úÖ LHM - LAFARGEHOLCIM MAROC
  ‚úÖ M2M - M2M Group
  ‚úÖ MAB - MAGHREBAIL
  ‚úÖ MDP - MED PAPER
  ‚úÖ MIC - MICRODATA
  ‚úÖ MLE - MAROC LEASING
  ‚úÖ MNG - MANAGEM
  ‚úÖ MOX - MAGHREB OXYGENE
üéØ Successfully scraped 50 instruments from page 1

üîÑ NAVIGATING TO PAGE 2...
‚úÖ Found page 2 button using XPath
üñ±Ô∏è Scrolling to page 2 button...
üñ±Ô∏è Clicking page 2 button using JavaScript...
‚úÖ Page 2 button clicked successfully
‚è≥ Waiting for page 2 to load...
‚úÖ Successfully navigated to page 2 (active button found)

üìÑ SCRAPING PAGE 2...
üìä Found 50 rows on page 2
  ‚úÖ ADH - DOUJA PROM ADDOHA
  ‚úÖ ADI - ALLIANCES
  ‚úÖ AFI - AFRIC INDUSTRIES SA
  ‚úÖ AFM - AFMA
  ‚úÖ AGM - AGMA
  ‚úÖ AKT - AKDITAL
  ‚úÖ ALM - ALUMINIUM DU MAROC
  ‚úÖ ARD - ARADEI CAPITAL
  ‚úÖ ATH - AUTO HALL
  ‚úÖ ATL - ATLANTASANAD
  ‚úÖ ATW - ATTIJARIWAFA BANK
  ‚úÖ BAL - BALIMA
  ‚úÖ BCI - BMCI
  ‚úÖ BCP - BCP
  ‚úÖ BOA - BANK OF AFRICA
  ‚úÖ CDM - CDM
  ‚úÖ CFG - CFG BANK
  ‚úÖ CIH - CIH
  ‚úÖ CMA - CIMENTS DU MAROC
  ‚úÖ CMG - CMGP GROUP
  ‚úÖ CMT - MINIERE TOUISSIT
  ‚úÖ COL - COLORADO
  ‚úÖ CRS - CARTIER SAADA
  ‚úÖ CSR - COSUMAR
  ‚úÖ CTM - CTM
  ‚úÖ DHO - DELTA HOLDING
  ‚úÖ DIS - DIAC SALAF
  ‚úÖ DLM - DELATTRE LEVIVIER MAROC
  ‚úÖ DRI - DARI COUSPATE
  ‚úÖ DWY - DISWAY
  ‚úÖ DYT - DISTY TECHNOLOGIES
  ‚úÖ EQD - EQDOM
  ‚úÖ FBR - FENIE BROSSETTE
  ‚úÖ GAZ - AFRIQUIA GAZ
  ‚úÖ HPS - HPS
  ‚úÖ IAM - ITISSALAT AL-MAGHRIB
  ‚úÖ IBC - IB MAROC.COM
  ‚úÖ IMO - IMMORENTE INVEST
  ‚úÖ INV - INVOLYS
  ‚úÖ JET - JET CONTRACTORS
  ‚úÖ LBV - LABEL VIE
  ‚úÖ LES - LESIEUR CRISTAL
  ‚úÖ LHM - LAFARGEHOLCIM MAROC
  ‚úÖ M2M - M2M Group
  ‚úÖ MAB - MAGHREBAIL
  ‚úÖ MDP - MED PAPER
  ‚úÖ MIC - MICRODATA
  ‚úÖ MLE - MAROC LEASING
  ‚úÖ MNG - MANAGEM
  ‚úÖ MOX - MAGHREB OXYGENE
üéØ Successfully scraped 50 instruments from page 2
‚úÖ Removed 'Page' column from final data

üìà DATA ANALYSIS:
   Total records scraped: 100
   Unique instruments: 50
   Duplicates removed: 50

üè¢ Distribution by compartment:
   Principal B: 25 instruments
   Principal A: 18 instruments
   Alternatif A: 5 instruments
   Principal F: 2 instruments

üìë Distribution by category:
   Actions 1√®re Ligne: 50 instruments

üîö Closing browser...

In [3]:
stocks = stocks_brute.drop(['Code_ISIN', 'Emetteur', 'Instrument', 'Categorie'], axis=1)
stocks

   Ticker  Compartiment Nombre_titres
0     ADH   Principal A   402 551 254
1     ADI   Principal A    22 078 588
2     AFI   Principal B       291 500
3     AFM   Principal B     1 000 000
4     AGM  Alternatif A       200 000
5     AKT   Principal A    14 159 207
6     ALM   Principal B       465 954
7     ARD   Principal F    12 568 130
8     ATH   Principal B    50 294 528
9     ATL   Principal A    60 283 595
10    ATW   Principal A   215 140 839
11    BAL   Principal B     1 744 000
12    BCI   Principal A    13 279 286
13    BCP   Principal A   203 312 473
14    BOA   Principal A   220 281 881
15    CDM   Principal A    10 881 214
16    CFG   Principal F    35 007 960
17    CIH   Principal A    35 605 624
18    CMA   Principal A    14 436 004
19    CMG   Principal B    17 000 900
20    CMT   Principal B     1 681 233
21    COL  Alternatif A    16 117 611
22    CRS   Principal B     5 265 000
23    CSR   Principal A    94 487 143
24    CTM   Principal B     1 225 978
25    DHO   Principal B    87 600 000
26    DIS   Principal B     1 053 404
27    DLM   Principal B     1 750 000
28    DRI   Principal B       298 375
29    DWY   Principal B     1 885 762
30    DYT  Alternatif A       998 110
31    EQD   Principal B     1 670 250
32    FBR   Principal B     1 438 984
33    GAZ   Principal A     3 437 500
34    HPS   Principal B     7 406 190
35    IAM   Principal A   879 095 340
36    IBC   Principal B       417 486
37    IMO   Principal B     9 007 000
38    INV  Alternatif A       382 716
39    JET   Principal B     3 029 522
40    LBV   Principal A     2 893 957
41    LES   Principal A    27 631 510
42    LHM   Principal A    23 431 240
43    M2M   Principal B       647 777
44    MAB   Principal B     1 384 182
45    MDP   Principal B     4 783 823
46    MIC  Alternatif A     1 680 000
47    MLE   Principal B     2 776 768
48    MNG   Principal A    11 864 676
49    MOX   Principal B       812 500

In [4]:

end_date = datetime.today().date()
start_date = end_date - timedelta(days=1) 
 
names = stocks['Ticker'].apply(lambda x: name_from_ticker(x))

data = cbs.loadmany(list(names), start=start_date.isoformat(), end=end_date.isoformat(), method="cloudscraper")
data

üìä Loading data for 50 securities: ['ADDOHA', 'ALLIANCES', 'AFRIC INDUS', 'AFMA', 'AGMA', 'AKDITAL', 'ALUMINIUM MAROC', 'ARADEI CAPITAL', 'AUTO HALL', 'ATLANTASANAD', 'ATTIJARIWAFA', 'BALIMA', 'BMCI', 'BANQUE CENTRALE POPULAIRE', 'BANK OF AFRICA', 'CREDIT DU MAROC', None, 'CREDIT IMMOBILIER ET HOTELIER', 'CIMENTS MAROC', None, 'COMPAGNIE MINIERE DE TOUISSIT', 'COLORADO', 'CARTIER SAADA', 'COSUMAR', 'COMPAGNIE DE TRANSPORT AU MAROC', 'DELTA HOLDING', None, 'DELATTRE LEVIVIER MAROC', 'DARI COUSPATE', 'DISWAY', 'DISTY TECHNOLOG', 'EQDOM', 'FENIE BROSSETTE', 'AFRIQUIA GAZ', 'HIGHTECH PAYMENT SYSTEMS', 'MAROC TELECOM', 'IBMAROC', 'IMMR INVEST', 'INVOLYS', 'JET CONTRACTORS', 'LABEL VIE', 'LESIEUR CRISTAL', 'LAFARGEHOLCIM', 'M2M GROUP', 'MAGHREBAIL', 'MED PAPER', 'MICRODATA', 'MAROC LEASING', 'MANAGEM', 'MAGHREB OXYGENE']

üîÑ Loading ADDOHA...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011512&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for ADDOHA
Successfully processed data for ADDOHA
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   ADDOHA: Multi-column DataFrame detected
‚úÖ ADDOHA: Success - 1 records

üîÑ Loading ALLIANCES...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011819&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for ALLIANCES
Successfully processed data for ALLIANCES
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   ALLIANCES: Multi-column DataFrame detected
‚úÖ ALLIANCES: Success - 1 records

üîÑ Loading AFRIC INDUS...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000012114&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for AFRIC INDUS
Successfully processed data for AFRIC INDUS
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   AFRIC INDUS: Multi-column DataFrame detected
‚úÖ AFRIC INDUS: Success - 1 records

üîÑ Loading AFMA...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000012296&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for AFMA
Successfully processed data for AFMA
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   AFMA: Multi-column DataFrame detected
‚úÖ AFMA: Success - 1 records

üîÑ Loading AGMA...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000010944&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for AGMA
Successfully processed data for AGMA
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   AGMA: Multi-column DataFrame detected
‚úÖ AGMA: Success - 1 records

üîÑ Loading AKDITAL...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000012585&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for AKDITAL
Successfully processed data for AKDITAL
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   AKDITAL: Multi-column DataFrame detected
‚úÖ AKDITAL: Success - 1 records

üîÑ Loading ALUMINIUM MAROC...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000010936&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for ALUMINIUM MAROC
Successfully processed data for ALUMINIUM MAROC
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   ALUMINIUM MAROC: Multi-column DataFrame detected
‚úÖ ALUMINIUM MAROC: Success - 1 records

üîÑ Loading ARADEI CAPITAL...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000012460&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for ARADEI CAPITAL
Successfully processed data for ARADEI CAPITAL
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   ARADEI CAPITAL: Multi-column DataFrame detected
‚úÖ ARADEI CAPITAL: Success - 1 records

üîÑ Loading AUTO HALL...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000010969&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for AUTO HALL
Successfully processed data for AUTO HALL
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   AUTO HALL: Multi-column DataFrame detected
‚úÖ AUTO HALL: Success - 1 records

üîÑ Loading ATLANTASANAD...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011710&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for ATLANTASANAD
Successfully processed data for ATLANTASANAD
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   ATLANTASANAD: Multi-column DataFrame detected
‚úÖ ATLANTASANAD: Success - 1 records

üîÑ Loading ATTIJARIWAFA...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000012445&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for ATTIJARIWAFA
Successfully processed data for ATTIJARIWAFA
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   ATTIJARIWAFA: Multi-column DataFrame detected
‚úÖ ATTIJARIWAFA: Success - 1 records

üîÑ Loading BALIMA...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011991&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for BALIMA
Successfully processed data for BALIMA
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   BALIMA: Multi-column DataFrame detected
‚úÖ BALIMA: Success - 1 records

üîÑ Loading BMCI...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000010811&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for BMCI
Successfully processed data for BMCI
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   BMCI: Multi-column DataFrame detected
‚úÖ BMCI: Success - 1 records

üîÑ Loading BANQUE CENTRALE POPULAIRE...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011884&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for BANQUE CENTRALE POPULAIRE
Successfully processed data for BANQUE CENTRALE POPULAIRE
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   BANQUE CENTRALE POPULAIRE: Multi-column DataFrame detected
‚úÖ BANQUE CENTRALE POPULAIRE: Success - 1 records

üîÑ Loading BANK OF AFRICA...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000012437&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for BANK OF AFRICA
Successfully processed data for BANK OF AFRICA
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   BANK OF AFRICA: Multi-column DataFrame detected
‚úÖ BANK OF AFRICA: Success - 1 records

üîÑ Loading CREDIT DU MAROC...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000010381&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for CREDIT DU MAROC
Successfully processed data for CREDIT DU MAROC
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   CREDIT DU MAROC: Multi-column DataFrame detected
‚úÖ CREDIT DU MAROC: Success - 1 records

üîÑ Loading None...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=None&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for None
Successfully processed data for None
‚ùå None: No data returned

üîÑ Loading CREDIT IMMOBILIER ET HOTELIER...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011454&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for CREDIT IMMOBILIER ET HOTELIER
Successfully processed data for CREDIT IMMOBILIER ET HOTELIER
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   CREDIT IMMOBILIER ET HOTELIER: Multi-column DataFrame detected
‚úÖ CREDIT IMMOBILIER ET HOTELIER: Success - 1 records

üîÑ Loading CIMENTS MAROC...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000010506&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for CIMENTS MAROC
Successfully processed data for CIMENTS MAROC
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   CIMENTS MAROC: Multi-column DataFrame detected
‚úÖ CIMENTS MAROC: Success - 1 records

üîÑ Loading None...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=None&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for None
Successfully processed data for None
‚ùå None: No data returned

üîÑ Loading COMPAGNIE MINIERE DE TOUISSIT...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011793&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for COMPAGNIE MINIERE DE TOUISSIT
Successfully processed data for COMPAGNIE MINIERE DE TOUISSIT
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   COMPAGNIE MINIERE DE TOUISSIT: Multi-column DataFrame detected
‚úÖ COMPAGNIE MINIERE DE TOUISSIT: Success - 1 records

üîÑ Loading COLORADO...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011934&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for COLORADO
Successfully processed data for COLORADO
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   COLORADO: Multi-column DataFrame detected
‚úÖ COLORADO: Success - 1 records

üîÑ Loading CARTIER SAADA...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011868&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for CARTIER SAADA
Successfully processed data for CARTIER SAADA
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   CARTIER SAADA: Multi-column DataFrame detected
‚úÖ CARTIER SAADA: Success - 1 records

üîÑ Loading COSUMAR...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000012247&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for COSUMAR
Successfully processed data for COSUMAR
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   COSUMAR: Multi-column DataFrame detected
‚úÖ COSUMAR: Success - 1 records

üîÑ Loading COMPAGNIE DE TRANSPORT AU MAROC...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000010340&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for COMPAGNIE DE TRANSPORT AU MAROC
Successfully processed data for COMPAGNIE DE TRANSPORT AU MAROC
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   COMPAGNIE DE TRANSPORT AU MAROC: Multi-column DataFrame detected
‚úÖ COMPAGNIE DE TRANSPORT AU MAROC: Success - 1 records

üîÑ Loading DELTA HOLDING...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011850&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for DELTA HOLDING
Successfully processed data for DELTA HOLDING
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   DELTA HOLDING: Multi-column DataFrame detected
‚úÖ DELTA HOLDING: Success - 1 records

üîÑ Loading None...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=None&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for None
Successfully processed data for None
‚ùå None: No data returned

üîÑ Loading DELATTRE LEVIVIER MAROC...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=None&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for DELATTRE LEVIVIER MAROC
Successfully processed data for DELATTRE LEVIVIER MAROC
‚ùå DELATTRE LEVIVIER MAROC: No data returned

üîÑ Loading DARI COUSPATE...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011421&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for DARI COUSPATE
Successfully processed data for DARI COUSPATE
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   DARI COUSPATE: Multi-column DataFrame detected
‚úÖ DARI COUSPATE: Success - 1 records

üîÑ Loading DISWAY...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011637&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for DISWAY
Successfully processed data for DISWAY
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   DISWAY: Multi-column DataFrame detected
‚úÖ DISWAY: Success - 1 records

üîÑ Loading DISTY TECHNOLOG...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000012536&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for DISTY TECHNOLOG
Successfully processed data for DISTY TECHNOLOG
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   DISTY TECHNOLOG: Multi-column DataFrame detected
‚úÖ DISTY TECHNOLOG: Success - 1 records

üîÑ Loading EQDOM...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000010357&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for EQDOM
Successfully processed data for EQDOM
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   EQDOM: Multi-column DataFrame detected
‚úÖ EQDOM: Success - 1 records

üîÑ Loading FENIE BROSSETTE...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011587&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for FENIE BROSSETTE
Successfully processed data for FENIE BROSSETTE
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   FENIE BROSSETTE: Multi-column DataFrame detected
‚úÖ FENIE BROSSETTE: Success - 1 records

üîÑ Loading AFRIQUIA GAZ...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000010951&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for AFRIQUIA GAZ
Successfully processed data for AFRIQUIA GAZ
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   AFRIQUIA GAZ: Multi-column DataFrame detected
‚úÖ AFRIQUIA GAZ: Success - 1 records

üîÑ Loading HIGHTECH PAYMENT SYSTEMS...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011611&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for HIGHTECH PAYMENT SYSTEMS
Successfully processed data for HIGHTECH PAYMENT SYSTEMS
‚ùå HIGHTECH PAYMENT SYSTEMS: No data returned

üîÑ Loading MAROC TELECOM...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011488&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for MAROC TELECOM
Successfully processed data for MAROC TELECOM
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   MAROC TELECOM: Multi-column DataFrame detected
‚úÖ MAROC TELECOM: Success - 1 records

üîÑ Loading IBMAROC...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011132&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for IBMAROC
Successfully processed data for IBMAROC
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   IBMAROC: Multi-column DataFrame detected
‚úÖ IBMAROC: Success - 1 records

üîÑ Loading IMMR INVEST...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000012387&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for IMMR INVEST
Successfully processed data for IMMR INVEST
‚ùå IMMR INVEST: No data returned

üîÑ Loading INVOLYS...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011579&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for INVOLYS
Successfully processed data for INVOLYS
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   INVOLYS: Multi-column DataFrame detected
‚úÖ INVOLYS: Success - 1 records

üîÑ Loading JET CONTRACTORS...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000012080&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for JET CONTRACTORS
Successfully processed data for JET CONTRACTORS
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   JET CONTRACTORS: Multi-column DataFrame detected
‚úÖ JET CONTRACTORS: Success - 1 records

üîÑ Loading LABEL VIE...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011801&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for LABEL VIE
Successfully processed data for LABEL VIE
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   LABEL VIE: Multi-column DataFrame detected
‚úÖ LABEL VIE: Success - 1 records

üîÑ Loading LESIEUR CRISTAL...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000012031&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for LESIEUR CRISTAL
Successfully processed data for LESIEUR CRISTAL
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   LESIEUR CRISTAL: Multi-column DataFrame detected
‚úÖ LESIEUR CRISTAL: Success - 1 records

üîÑ Loading LAFARGEHOLCIM...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000012320&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for LAFARGEHOLCIM
Successfully processed data for LAFARGEHOLCIM
   Raw data type: <class 'pandas.core.frame.DataFrame'>
   Raw data shape: (1, 6)
   LAFARGEHOLCIM: Multi-column DataFrame detected
‚úÖ LAFARGEHOLCIM: Success - 1 records

üîÑ Loading M2M GROUP...
Fetching with cloudscraper: https://medias24.com/content/api?method=getPriceHistory&ISIN=MA0000011678&format=json&from=2025-11-28&to=2025-11-29
Attempt 1: Status 200
Successfully parsed JSON data for M2M GROUP
Successfully processed data for M2M GROUP

/home/al-shaye5h/projects/Morocco-All_Shares-Index/CasaBourseScrap/scrap.py:282: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_data = pd.concat(all_data_frames, axis=0, ignore_index=True)

,date,value,min,max,variation,volume,stock,ticker
0,28/11/2025,37.60,37.12,37.95,-0.32,370802,ADDOHA,ADH
1,28/11/2025,590.00,585.60,595.00,-0.17,14888,ALLIANCES,ADI
2,28/11/2025,327.50,327.20,329.85,-0.71,111,AFRIC INDUS,AFI
3,28/11/2025,1330.00,1330.00,1330.00,-0.15,5,AFMA,AFM
4,28/11/2025,NaN,NaN,NaN,-100.00,None,AGMA,AGM
5,28/11/2025,1350.00,1304.00,1350.00,2.66,29925,AKDITAL,AKT
6,28/11/2025,1800.00,1800.00,1800.00,0.56,13,ALUMINIUM MAROC,ALM
7,28/11/2025,435.00,435.00,446.95,-1.18,2838,ARADEI CAPITAL,ARD
8,28/11/2025,95.00,92.14,96.00,0.01,6383,AUTO HALL,ATH
9,28/11/2025,138.00,138.00,142.50,-1.43,11435,ATLANTASANAD,ATL
10,28/11/2025,731.50,728.10,734.00,-0.34,26666,ATTIJARIWAFA,ATW
11,28/11/2025,NaN,NaN,NaN,-100.00,None,BALIMA,BAL
12,28/11/2025,520.00,520.00,520.00,-9.55,4322,BMCI,BCI
13,28/11/2025,278.00,278.00,283.00,-0.71,21485,BANQUE CENTRALE POPULAIRE,BCP
14,28/11/2025,224.90,221.20,230.00,-0.04,15278,BANK OF AFRICA,BOA
15,28/11/2025,967.00,966.20,996.00,-3.11,1405,CREDIT DU MAROC,CDM
16,28/11/2025,402.00,401.00,409.50,0.25,5522,CREDIT IMMOBILIER ET HOTELIER,CIH
17,28/11/2025,1900.00,1900.00,1910.00,-0.52,3159,CIMENTS MAROC,CMA
18,28/11/2025,1610.00,1610.00,1641.00,-2.19,10,COMPAGNIE MINIERE DE TOUISSIT,CMT
19,28/11/2025,82.00,82.00,83.00,-0.26,2688,COLORADO,COL
20,28/11/2025,34.60,34.00,35.89,-1.14,1788,CARTIER SAADA,CRS
21,28/11/2025,198.00,197.00,200.95,1.02,5519,COSUMAR,CSR
22,28/11/2025,871.00,871.00,885.00,-1.58,45,COMPAGNIE DE TRANSPORT AU MAROC,CTM
23,28/11/2025,71.50,71.10,73.00,-3.18,15111,DELTA HOLDING,DHO
24,28/11/2025,4200.00,4200.00,4200.00,5.00,3,DARI COUSPATE,DRI
25,28/11/2025,NaN,NaN,NaN,-100.00,None,DISWAY,DWY
26,28/11/2025,360.00,360.00,369.00,-1.37,185,DISTY TECHNOLOG,DYT
27,28/11/2025,1246.00,1245.00,1246.00,-0.08,15,EQDOM,EQD
28,28/11/2025,428.00,426.00,450.00,-2.19,2960,FENIE BROSSETTE,FBR
29,28/11/2025,4030.00,4030.00,4050.00,-0.49,429,AFRIQUIA GAZ,GAZ
30,28/11/2025,115.00,114.75,116.85,-1.88,33504,MAROC TELECOM,IAM
31,28/11/2025,72.99,70.10,73.19,1.37,136,IBMAROC,IBC
32,28/11/2025,234.90,228.00,234.90,-0.84,524,INVOLYS,INV
33,28/11/2025,2525.00,2490.00,2550.00,-0.59,2038,JET CONTRACTORS,JET
34,28/11/2025,4490.00,4486.00,4500.00,-0.22,254,LABEL VIE,LBV
35,28/11/2025,NaN,NaN,NaN,-100.00,None,LESIEUR CRISTAL,LES
36,28/11/2025,1850.00,1850.00,1879.00,-0.05,1552,LAFARGEHOLCIM,LHM
37,28/11/2025,477.00,477.00,477.00,-0.08,50,M2M GROUP,M2M
38,28/11/2025,NaN,NaN,NaN,-100.00,None,MAGHREBAIL,MAB
39,28/11/2025,819.00,799.90,833.00,6.50,30,MICRODATA,MIC
40,28/11/2025,365.95,365.95,365.95,4.26,6,MAROC LEASING,MLE
41,28/11/2025,6100.00,5902.00,6100.00,-1.52,231,MANAGEM,MNG
42,28/11/2025,387.00,387.00,387.00,0.00,31,MAGHREB OXYGENE,MOX

In [5]:


stocks = stocks.merge(
    data[['ticker', 'value']].rename(columns={'value': 'close'}),
    left_on='Ticker',
    right_on='ticker',
    how='left'
)

stocks



# try:
#     # Get only the most recent day (latest price)
#     end_date = datetime.today().date()
#     start_date = end_date - timedelta(days=1)  # Just get yesterday and today
    
#     print(f"Fetching latest price data: {start_date} to {end_date}")
    
#     data = cbs.load_data('Addoha', start=start_date.isoformat(), end=end_date.isoformat(), method="cloudscraper")
    
#     if data is not None and hasattr(data, 'shape') and data.shape[0] > 0:
#         print("‚úÖ Success! Data shape:", data.shape)
        
#     else:
#         print("‚ùå No data retrieved or empty dataset")
        
# except Exception as e:
#     print(f"Error: {e}")

# data

   Ticker  Compartiment Nombre_titres ticker    close
0     ADH   Principal A   402 551 254    ADH    37.60
1     ADI   Principal A    22 078 588    ADI   590.00
2     AFI   Principal B       291 500    AFI   327.50
3     AFM   Principal B     1 000 000    AFM  1330.00
4     AGM  Alternatif A       200 000    AGM      NaN
5     AKT   Principal A    14 159 207    AKT  1350.00
6     ALM   Principal B       465 954    ALM  1800.00
7     ARD   Principal F    12 568 130    ARD   435.00
8     ATH   Principal B    50 294 528    ATH    95.00
9     ATL   Principal A    60 283 595    ATL   138.00
10    ATW   Principal A   215 140 839    ATW   731.50
11    BAL   Principal B     1 744 000    BAL      NaN
12    BCI   Principal A    13 279 286    BCI   520.00
13    BCP   Principal A   203 312 473    BCP   278.00
14    BOA   Principal A   220 281 881    BOA   224.90
15    CDM   Principal A    10 881 214    CDM   967.00
16    CFG   Principal F    35 007 960    NaN      NaN
17    CIH   Principal A    35 605 624    CIH   402.00
18    CMA   Principal A    14 436 004    CMA  1900.00
19    CMG   Principal B    17 000 900    NaN      NaN
20    CMT   Principal B     1 681 233    CMT  1610.00
21    COL  Alternatif A    16 117 611    COL    82.00
22    CRS   Principal B     5 265 000    CRS    34.60
23    CSR   Principal A    94 487 143    CSR   198.00
24    CTM   Principal B     1 225 978    CTM   871.00
25    DHO   Principal B    87 600 000    DHO    71.50
26    DIS   Principal B     1 053 404    NaN      NaN
27    DLM   Principal B     1 750 000    NaN      NaN
28    DRI   Principal B       298 375    DRI  4200.00
29    DWY   Principal B     1 885 762    DWY      NaN
30    DYT  Alternatif A       998 110    DYT   360.00
31    EQD   Principal B     1 670 250    EQD  1246.00
32    FBR   Principal B     1 438 984    FBR   428.00
33    GAZ   Principal A     3 437 500    GAZ  4030.00
34    HPS   Principal B     7 406 190    NaN      NaN
35    IAM   Principal A   879 095 340    IAM   115.00
36    IBC   Principal B       417 486    IBC    72.99
37    IMO   Principal B     9 007 000    NaN      NaN
38    INV  Alternatif A       382 716    INV   234.90
39    JET   Principal B     3 029 522    JET  2525.00
40    LBV   Principal A     2 893 957    LBV  4490.00
41    LES   Principal A    27 631 510    LES      NaN
42    LHM   Principal A    23 431 240    LHM  1850.00
43    M2M   Principal B       647 777    M2M   477.00
44    MAB   Principal B     1 384 182    MAB      NaN
45    MDP   Principal B     4 783 823    NaN      NaN
46    MIC  Alternatif A     1 680 000    MIC   819.00
47    MLE   Principal B     2 776 768    MLE   365.95
48    MNG   Principal A    11 864 676    MNG  6100.00
49    MOX   Principal B       812 500    MOX   387.00

In [6]:
stocks = pd.DataFrame(cbs.notation(), columns = ['name'])
stocks['Ticker'] = stocks['name'].apply(lambda x: cbs.ticker_from_name(x))
stocks

            name Ticker
0         Addoha    ADH
1           AFMA    AFM
2    Afric Indus    AFI
3   Afriquia Gaz    GAZ
4           Agma    AGM
..           ...    ...
69        Unimer    UMR
70    Wafa Assur    WAA
71      Zellidja    ZEL
72          MASI   MASI
73         MSI20  MSI20

[74 rows x 2 columns]